body {
  margin: 0;
  background-color: #7B86AA;
}

ul[data-menu='radial'] {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  margin: 0;

  #switch_radial_menu {
    @extend %switch;
  }

  &.active {
    #switch_radial_menu {
      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }
    }

    li {
      opacity: 100%;
    }

    a {
      margin: 0;
    }
  }

  li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0 100%;
    transition: all 1s ease-in-out;
    opacity: 0;

    a {
      @extend %link;
    }
  }
}

%switch {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 35%;
  border-radius: 50%;
  background-color: #BFC8EA;
  border: 1px solid #5B67A2;
  padding: 5%;
  cursor: pointer;
  transition: all 1s ease-in-out;
  transform-origin: center;
  outline: none;
  box-shadow: inset 0 0 12px 1px #545051;
  z-index: 1;

  &:hover {
    box-shadow: inset 0 0 25px 1px #545051;
  }

  &:after {
    @extend %stick;
    transform: rotate(180deg);
    top: -2px;
  }

  &:before {
    @extend %stick;
    transform: rotate(90deg);
    top: 3px;
  }
}


%stick {
  content: '';
  display: block;
  width: 100%;
  height: 10%;
  background-color: #545051;
  border-radius: 5px;
  margin: 0 auto;
  transition: all 1s ease-in-out;
  position: relative;
}

%link {
  background-color: #5B67A2;
  position: absolute;
  width: 70%;
  height: 70%;
  bottom: unset;
  right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #545051;
  box-shadow: inset 0 0 12px 1px #bfc8ea;
  transition: all 1s ease-in-out;
  margin: 70px;

  &:hover .icon {
    color: #F8F9FC;
  }

  .icon {
    font-size: 35px;
    color: #545051;
  }
}